html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    max-width: 100%;
    
}

header{
    margin-top: 10px;
}

a{
text-decoration: none;
}

.me{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.picture_me{
    animation-duration: 2s;
    animation-name: slideup;
}

.picture_me img{
    border-radius: 10%;
    box-shadow: 5px 5px 5px 5px rgb(122, 119, 119);
}

@keyframes slideup {
    from {
        margin-top: -200%;
    }
    to {
        margin-bottom: 0%;
    }
}

.me h1{
    font-size: 9.375rem;
    font-weight: 1000;
    color: rgb(0, 110, 255);
    text-shadow: 3px 3px 3px  rgb(122, 119, 119);
}

.me p{
    font-size: 1.25rem;
    font-weight: 550;
}


.me h1, p {

    animation-duration: 2s;
    animation-name: slidedown;
}

@keyframes slidedown {
    from {
        margin-top: -200%;
    }
    to {
        margin-bottom: 1.5%;
    }
}

.me button{
    box-shadow: 5px 5px 5px 5px rgb(122, 119, 119);
    margin: 5px;

}

.social_links_linkedin{
    width: 80px;
    height: 80px;
    background-image: url(media/linkedin-job-community-svgrepo-com.svg);
    background-size: cover;
    box-shadow: 5px 5px 5px 5px rgb(122, 119, 119);
    border-radius: 25%;


}

.social_links_linkedin:hover{
    background-image: url(media/linkedin-job-community-svgrepo-com-blue.svg);
    transform: scale(1.2);
    transition: ease 0.3s ;
}

.social_links_github{
    width: 80px;
    height: 80px;
    background-image: url(media/github-logo-code-open-sourse-oneline-svgrepo-com.svg);
    background-size: cover; 
    box-shadow: 5px 5px 5px 5px rgb(122, 119, 119);
    border-radius: 25%;
}

.social_links_github:hover{
    background-image: url(media/github-logo-code-open-sourse-oneline-svgrepo-com-blue.svg);
    transform: scale(1.2);
    transition: ease 0.3s ;
}

.first-name , .last-name{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    font-size: 2rem;

}

.first-name{
    color: rgb(0, 110, 255);
    font-weight: 700;

}

.last-name{
    color: rgb(122, 119, 119);
    font-weight: 100; 
}



